.games
{
    display: flex;
     background-image: url("/home/ubuntu/Saeb_frontend/a.jpg");
    padding: 10%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
